@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dream Reader</title>
    @Styles.Render("~/bundles/css")
</head>
<body data-bind="css: { 'loaded': !loading() }">
    @Html.AntiForgeryToken()

    <div id="loader-wrapper" data-bind="visible: loading">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div id="global-overlay" data-bind="visible: readonly"></div>

    @Html.Partial("_BookPartial")
    @Html.Partial("_SignUpPartial")
    @Html.Partial("_SignInPartial")
    @Html.Partial("_BookUploadPartial")

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dream Reader</a>
            </div>

            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li data-bind="visible: !isAuthenticated()"><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#sign-in-modal">Sign In</button></li>
                    <li data-bind="visible: !isAuthenticated()"><button type="button" class="btn btn-primary navbar-btn sign-up-btn" data-toggle="modal" data-target="#sign-up-modal">Sign Up</button></li>
                    <li data-bind="visible: isAuthenticated()"><button type="button" class="btn btn-primary navbar-btn upload-book-btn" data-toggle="modal" data-target="#book-upload-modal">Upload Book</button></li>
                    <li class="dropdown" data-bind="visible: isAuthenticated()">
                        <a href="#" class="dropdown-toggle nav-profile-dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img alt="Profile Image" src="http://organicthemes.com/demo/profile/files/2012/12/profile_img.png" />
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" data-bind="click: logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" data-bind="foreach: books">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/b/bb/TW3_Wild_Hunt_logo.png/260px-TW3_Wild_Hunt_logo.png" alt="Book Cover">
                    <div class="caption">
                        <h3 data-bind="html: title"></h3>
                        <p data-bind="html: annotation"></p>
                        <p class="text-right">
                            <a href="#" class="btn btn-primary" data-bind="click: read">Read</a> <a href="#" class="btn btn-danger">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/script")
    <script src="~/signalr/hubs"></script>
    <script>
        window.signUpUrl = '@Url.Action("SignUp", "Account")';
        window.signInUrl = '@Url.Action("SignIn", "Account")';
        window.logOffUrl = '@Url.Action("LogOff", "Account")';
        window.getBooksUrl = '@Url.Action("GetBooks","Book")';
        window.getBookUrl = '@Url.Action("GetFullBook","Book")';
        window.bookUploadUrl = '@Url.Action("UploadBook", "Book")';
        window.getDreamReaderViewModel = '@Url.Action("GetDreamReaderViewModel", "Home")';
    </script>
</body>
</html>
